.media {
  padding-top: 30%;
  height: 50%;
  width: 100%;
  background-color: white;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.icons {
  margin-left: 40px;
  font-size: 24px;
}

.controls {
  display: inline;
  margin: 20px 0 0 5px;
  text-align: center
}